src/*.exe
src/marscoin
src/marscoind
src/test_marscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.marscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
marscoin-qt
Marscoin-Qt.app

# Unit-tests
Makefile.test
marscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
